.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.btn {
  padding: 10px 15px;
  background-color: #04aa6d;
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: aliceblue;
  border: none;
  width: 100px;
  font-family: "Lobster";
  letter-spacing: 1px;
  outline: none;
}
.btn:not(:last-child) {
  margin-right: 10px;
}
.red {
  background-color: rgb(250, 77, 77);
}
.btn.red:hover {
  background-color: brown;
}
.btn:hover {
  background-color: #038857;
}
@media screen and (max-width: 576px) {
  .btn {
    width: 90px;
    /* font-size: 1rem; */
  }
}
