.display {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 8px 0;
}
.cell {
  width: 100px;
  height: 100px;
  background-color: #ffd998;
  font-size: 2.5rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid burlywood;
  border-radius: 10px;
  color: #6d6564;
  letter-spacing: 2px;
}
.dots {
  font-size: 2rem;
  margin: 0 10px;
}
@media screen and (max-width: 768px) {
  .display {
    margin-top: 100px;
    margin-bottom: 15px;
  }
  .cell {
    width: 80px;
    height: 80px;
  }
}
