.App {
  text-align: center;
  margin-top: 100px;
  max-width: 800px;
  /* height: 100vh; */
  margin: 100px auto;
  display: flex;
  flex-direction: column;
}

.header {
  font-family: "Lobster";
  font-size: 3rem;
  letter-spacing: 1px;
  color: white;
}
.header_text {
  background-color: #fca205;
  border-radius: 15px 0 15px 0;
}
.split {
  width: 80px;
  height: 80px;
  align-self: center;
  border-radius: 50%;
  border: 1px solid #f29e25;
  background-color: #f29e25;
  font-size: 1.3rem;
  color: white;
  margin: 20px 0 0 0;
  outline: none;
}
.split:active {
  background-color: white;
  color: grey;
}

@media screen and (max-width: 576px) {
  .App {
    margin-top: 0px;
    justify-content: flex-start;
    align-items: center;
  }
  .header {
    font-size: 2.5rem;
  }
}
